#images_with_cards {
  /* background-image: url("https://i.imgur.com/2Pkiq2i.jpg");
  background-position: top;
  background-repeat: repeat;
  background-size: auto; */
  background-color: #c8e6c9;
}

#head {
  width: 100%;
  background-color: white;
  height: fit-content;
  border: black;
  border-width: 1px;
}

#filter {
  width: fit-content;
  max-width: 70%;
  height: fit-content;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-bottom: 50px; */
}

#allFiltersButtons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#products {
  width: 70%;
  margin: auto;
}

#singleCard {
  max-width: 350px;
  max-height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

#description {
  height: 75px;
  width: 250px;
}

#header {
  text-align: center;
}
