#productpage {
  background-image: url("https://i.imgur.com/2Pkiq2i.jpg");
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  width: 50%;
  margin: auto;
}

#social_news_feed {
  width: 100%;
  margin: auto;
}
